<div class="d-flex flex-column vh-100" style="background-color: #D4DBE5; width: 250px;">
    <a [routerLink]="['/main']" class="d-flex align-items-center p-3 text-dark text-decoration-none sidebar-link">
      <i class="bi bi-house fs-4 me-3"></i>
      <span class="fs-5">Inicio</span>
    </a>
    <a [routerLink]="['/main/linaje']" class="d-flex align-items-center p-3 text-dark text-decoration-none sidebar-link">
      <i class="bi bi-database fs-4 me-3"></i>
      <span class="fs-5">Analizar SQL</span>
    </a>
    <a [routerLink]="['/main/diagramas']" class="d-flex align-items-center p-3 text-dark text-decoration-none sidebar-link">
      <i class="bi bi-diagram-3 fs-4 me-3"></i>
      <span class="fs-5">Estructura de Datos</span>
    </a>
    <a [routerLink]="['/main/historial']" class="d-flex align-items-center p-3 text-dark text-decoration-none sidebar-link">
      <i class="bi bi-clock-history fs-4 me-3"></i>
      <span class="fs-5">Historial</span>
    </a>
  </div>
  