<div class="container py-5 text-center">
    <img src="assets/datalineage.png" alt="Bienvenida" class="img-fluid mb-4" style="width: 20rem; height: 10rem;" />
    <h4 class="mb-3">Bienvenido a SQLineage</h4>
    <p class="text-muted mb-4">Explora el linaje de tus datos mediante consultas SQL con facilidad.</p>
    <p>
      <a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#instruccionesCollapse" role="button">
        Ver instrucciones
      </a>
    </p>
    <div class="collapse" id="instruccionesCollapse">
      <div class="card card-body text-start mx-auto" style="max-width: 700px;">
        <h5 class="mb-3">¿Cómo usar la aplicación?</h5>
        <ul>
          <li>En la pestaña <strong>Analizar SQL</strong>, puedes escribir código o subir un archivo <code>.sql</code>.</li>
          <li>Se admiten consultas como <code>INSERT INTO</code>, <code>SELECT INTO</code>. Además soporta que contengan la clausula <code>JOIN (LEFT, RIGHT, INNER)</code>.</li>
          <li>No usar paralabras compuestas, usar <code>;</code> al final de las consultas y en formato PascalCase</li>
          <li>Después de procesar, consulta la opción <strong>Estructura de Datos</strong>. El resultado se vera reflejado en "Dependencias" y "Diagrama".</li>
          <li>Guarda tu linaje para consultas futuras, esto lo podrás visualizar desde la opción "Historial".</li>
        </ul>
      </div>
    </div>
  </div>
  